$default-font: sans-serif;

header {
  display: flex;
  justify-content: flex-end;
  padding: 10px 30px;
  border: 1px solid black;
}

.cart-button {
  border-radius: 15px;
  padding: 5px 15px;
  outline: none;
  border: 1px solid black;
  background: transparent;
  font-family: $default-font;
  font-size: 14px;
}

main {
  padding: 20px 40px;
  max-width: 1200px;
}

.goods-list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  row-gap: 10px;
  column-gap: 10px;
}

.goods-item {
  border: 1px solid black;
  padding: 5px;
  display: grid;
  text-align: center;
  row-gap: 10px;
  grid-template-areas:
    "image image image"
    "title title title"
    "price price price"
    ". . button";
}

.goods-image {
  max-width: 100%;
  grid-area: image;
}

.goods-title {
  font-family: $default-font;
  grid-area: title;
}

.goods-text {
  font-family: $default-font;
  grid-area: price;
}

.goods-button {
  border-radius: 15px;
  padding: 5px 15px;
  outline: none;
  border: 1px solid black;
  background: transparent;
  font-family: $default-font;
  font-size: 14px;
  width: 100px;
  grid-area: button;
}

.goods-item__goods-button {
  margin-top: 10px;
}
