.subscribe-form {
  display: flex;
  justify-content: center;
  &__input {
    flex: 0 260px;
    box-sizing: border-box;
    padding: 5px 5px 5px 20px;
    background: #e1e1e1;
    height: 47px;
    border: none;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    line-height: 17px;
    color: #222224;
    opacity: 0.67;
    &:focus {
      outline: none;
    }
  }
  &__submit-button {
    flex: 0 0 100px;
    height: 47px;
    background: #f16d7f;
    border: none;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    line-height: 17px;
    text-align: center;
    color: #ffffff;
    &:focus,
    &:active {
      outline: none;
    }
  }
}
