.catalog {
  padding: 24px 8px;
  display: grid;
  grid-template-columns: fit-content(360px);
  grid-template-areas:
    "controls"
    "content "
    "pagination"
    "cart";
  row-gap: 32px;
  justify-content: center;
  &__controls {
    display: grid;
    row-gap: 5px;
    grid-area: controls;
    grid-template-areas:
      "filter search"
      "sort sort";
    @media (min-width: 768px) {
      grid-template-areas:
        "filter search"
        ". sort";
      grid-template-columns: repeat(2, 1fr);
      column-gap: 16px;
    }
    @media (min-width: 1200px) {
      grid-template-areas: "filter search sort";
      grid-template-columns: repeat(3, 360px);
      column-gap: 30px;
    }
  }
  &__filter {
    grid-area: filter;
  }
  &__search {
    grid-area: search;
    justify-self: end;
  }
  &__sort {
    grid-area: sort;
    justify-content: end;
    @media (min-width: 1200px) {
      align-self: center;
    }
  }
  &__content {
    grid-area: content;
    display: grid;
    gap: 16px;
    margin-bottom: 8px;
    @media (min-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (min-width: 1200px) {
      grid-template-columns: repeat(3, 360px);
      gap: 30px;
    }
  }
  &__pagination {
    grid-area: pagination;
    justify-self: center;
  }
  &__cart {
    grid-area: cart;
  }
  @media (min-width: 768px) {
    padding: 24px 16px;
    grid-template-columns: none;
  }
  @media (min-width: 1200px) {
    padding: 50px 0;
    grid-template-columns: none;
  }
}
