.advantages {
  background: #222224;
  padding: 48px 15px 80px;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  gap: 45px;
  @media (min-width: 380px) {
    grid-template-columns: 350px;
  }
  @media (min-width: 768px) {
    padding: 48px 15px 64px;
    grid-template-columns: 360px;
  }
  @media (min-width: 1200px) {
    padding: 104px 15px;
    grid-template-columns: repeat(3, 360px);
    gap: 30px;
  }
}
