.bottom-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 80px 70px;
  background: #f8f3f4;
  &__heading {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    color: #f16d7f;
    text-align: center;
  }
}
